#BodyContainer {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;

}

#Render {
    height: 70vh;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#PolarTitle {
    font-size: 5vw;
}

#PolarDescription {
    font-size: 2vw;
}

#ShopAllButton {
    font-size: 2vw;
    text-align: center;
    margin-top: 15%;
}

#Products {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#ProductsTitle {
    font-size: 5vw;
    text-align: center;
}

#ProductsDescription {
    font-size: 2vw;
    text-align: center;
}

#ProductCarousel {
    height: 40vh;
    margin-top: 10%;
}

#Sorteo {
    margin-top: 0%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#PolarSocial {
    margin-top: 10%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}